.tiptap [data-placeholder]::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
  font-style: italic;
  opacity: 0.75;
}

.tiptap:not(:focus) [data-placeholder]::before {
  display: none;
}
