# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output

# Production
dist
dist-ssr
build

# Misc
.DS_Store
*.pem
*.local

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/settings.json
.idea
.cursorrules
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp directories
.temp
.tmp

# Runtime data
.turbo
tsconfig.tsbuildinfo
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Client
client/node_modules
client/dist

# Api
api/node_modules
# app build
api/view
# upload
api/uploads


## npmrc
.npmrc

.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example

# deploy
scripts/builder/build-job.env
scripts/deploy/run.env